[user]
	name = Pieter de Jong
	email = 1856262+pieteradejong@users.noreply.github.com

[core]
	editor = 'subl --new-window --wait'
	excludesfile = ~/.gitignore_global

[alias]
    st = status -sb
    cm  = commit -m
    p  = push
    ci = commit -v
    d = diff
    lastcommit = log -1 HEAD --stat
    ll = log --oneline
    co = checkout
    br = branch
    unstage = reset HEAD --
    undo = reset --soft HEAD~1
    last = log -1 HEAD
	se = !git rev-list --all | xargs git grep -F
	contrib = shortlog -e --summary --numbered
[web]
    browser = google-chrome
[hook "security-gate-commit"]
	event = pre-commit
	command = ~/dev/dotfiles/security/gate.sh pre-commit
[hook "security-gate-push"]
	event = pre-push
	command = ~/dev/dotfiles/security/gate.sh pre-push
